
<a href="{{card_product.url}}">
  {% if card_product.featured_media%} 
    {{ card_product.featured_media | image_url: width:900 | image_tag }}
  {%else%}
    {{ 'product-1' | placeholder_svg_tag }}
  {% endif %}

  <p>{{card_product.title}}</p>


{% if card_product.price_varies %}
  From {{card_product.compare_at_price_min | money}} to {{card_product.compare_at_price_max | money}}
{% elsif card_product.compare_at_price > card_product.price %}
  {{card_product.price|money}} <s>
      {{ card_product.compare_at_price_max|money}}
      </s>
{% else %}
{{card_product.price|money}}
{% endif %}


</a>